@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewBag.Message</h1>
<form asp-action="Index">
    <label>Nhap ho ten:</label>
    <input type="text" name="FullName">
    <label>nhap dia chi:</label>
    <input type="text" name="Address">
    <input type="submit" value="Submit">
</form>